{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="">
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/emojionearea.min.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.5/jquery.textcomplete.js" integrity="sha512-QQzMH0Owf0yosqiKWIuainU924mQSLXGRicMIQwikdKdJPlkjezlXT+ukYvjDsPu/k53Hf53wOYi7w6RjzHMtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Django | Natter</title>
</head>

<body id="frame1">

    {% include 'base/message.html' %} {% block content %} {% endblock %} {% block chat %} {% endblock %} {% include 'base/footer.html' %}

    <script>
        // Hide display message
        var message = document.getElementById('msg');
        setTimeout(function() {

            message.style.display = 'none'

        }, 5000)
    </script>


    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/signup.js' %}"></script> -->
    <!-- cript src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/private_chat.js' %}"></script>
    <!-- <script src="{% static 'js/emoji-picker.js' %}"></script>
     ** Don't forget to Add jQuery here ** -->
    <!-- <script src="{% static 'js/config.js' %}"></script> -->
    <script src="{% static 'js/emojionearea.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->


</body>

</html>